<!DOCTYPE html>
%html(lang="en")
    %head
        %meta(charset="UTF-8")/
        %meta(http-equiv="X-UA-Compatible" content="IE=edge")/
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        %title Robot
    %body 
    %section  
        .page1
            %div.palka
            %div.img
            %h1 Robots Are The Future
            %h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.
        %div.page2
            %h5 TECHNOLOGY NEWS
            %h2 Human-robot
            %p
                In human-robot collaboration, the robot assists the human operator. This means: The machine does not replace the human, but complements his capabilities and relieves him of arduous tasks. These can include overhead work, for example, or the lifting of heavy loads. Autonomous, collaborative robots are also used to supply production workstations 
            %div.img2
        %div.page3
            %div.left
                %h2 FUTURE OF WORK
                %p While much of the discourse around AI and automation has been concerned with the looming threat to the workforce...
                %div.img
                %div.img
                %div.img
            %div.right
                %div.lines
                %div.img
                %div.img
                %div.img